body {
    background-color: #121212;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    width: 100vw;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    background-color: #333;
    color: white;
}

.hamburger {
    cursor: pointer;
    font-size: 30px;
    color: white;
    z-index: 2;
    position: relative;
}

.nav-panel {
    display: none;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #444;
    transition: left 0.3s ease;
    z-index: 1;
    padding-top: 50px;
}

.nav-panel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-panel ul li {
    padding: 15px 0;
}

.nav-panel ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.nav-panel ul li a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    width: 300px;
    cursor: pointer;
    align-items: center;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.about-me {
  max-width: 800px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  color: white;
}

.about-me h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-me a {
  color: #ffcc00;
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-me a:hover {
  color: #00e604;
}

button:hover {
  background-color: #00e604;
}

button {
  background-color: #ffcc00;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table {
    text-align: center;
    margin: 20px auto;
    max-width: 700px;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

h1 {
  font-size: 26px;
  margin: 10px 0;
}

main {
    flex: 1;
    padding-bottom: 5px;
}

#titleContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#blackjackTitle {
  text-align: center;
  margin-top: 10px;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: 'Arial', sans-serif;
}

.game-selection {
    text-align: center;
    margin: 50px auto;
    color: white;
    padding: 0 30px;
}

.game-selection h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.game-wrapper {
    padding: 0 20px;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.cardss {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
    border-radius: 20px;
    border: 10px solid white;
}

.cardss:hover {
    transform: scale(1.09);
}

@media screen and (max-width: 675px) {
    .game-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .cardss {
        width: 80%;
        max-width: 300px;
        height: auto;
        margin: auto;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

footer a {
  color: white;
  text-align: right;
  margin: 0 10px;
}
