body {
    background-color: #121212;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    width: 100vw;
    box-sizing: border-box;
}

main {
    flex: 1;
    padding-bottom: 5px;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header .logo {
    margin: auto;
}

header .logo img {
    width: 300px;
    cursor: pointer;
    align-items: center;
}

.table {
    text-align: center;
    margin: 20px auto;
    max-width: 700px;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

#blackjackTitle {
  text-align: center;
  margin-top: 10px;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: 'Arial', sans-serif;
}

#titleContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

button:hover {
  background-color: #00e604;
}

button {
  background-color: #ffcc00;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

footer a {
  color: white;
  text-align: right;
  margin: 0 10px;
}
